*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header{
    display: grid;
    grid-template-areas: "Título Navegación";
    grid-template-columns: 1fr 1fr;
}


header div{
    grid-area: Título;
    background-image: linear-gradient(blueviolet, violet);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
}


.icono{
    width: 100px;
    background-image: none;
}


.icono__header{
    text-decoration: none;
}


.icono__header--style{
    width: 100%;   
}



.nombre{
    background-image: none;
}


.nombre__header{
    text-decoration: none;
}


.nombre__header--style{
    color: white;
    font-size: 5rem;
}


header nav{
    grid-area: Navegación;
    background-image: linear-gradient(blueviolet, violet);
    height: 100%;
}


header nav ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    padding: 4%;

}


header nav ul li{
    list-style-type: none;
    background-color: rgb(87, 0, 168);
    border-radius: 15%;
    text-align: center;
}


header nav ul li a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5rem;
}

/*MAIN*/

.main__grid{
    background-image: linear-gradient(violet, blueviolet);
    display: grid;
    grid-template-areas:"Prod"
                        "Servis";
    grid-template-rows: repeat(2, 1fr);
}


.section__prod{
    grid-area: Prod;
    display: grid;
    grid-template-areas: "Pro Cat";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


.galeria__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main__títulos{
    text-decoration: none;
    text-align: center;
    padding: 2%;
}


.main__títulos--style{
    color: white;
    font-size: 2rem;
}


.main__img{
    text-align: center;
}


.main__img--pro{
    width: 60%;
    border-radius: 5%;
}


.main__img--cat{
    width: 55%;
    border-radius: 5%;
}


.section__servis{
    grid-area: Servis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main__section--grid{
    display: grid;
    grid-template-areas: "Envios Tienda";
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    gap: 2%;
}


.main__section--envios{
    background-color: rgb(120, 6, 226);
    grid-area: Envios;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.main__section--tienda{
    background-color: rgb(120, 6, 226);
    grid-area: Tienda;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.main__servis--img{
    width: 25%;
    padding: 5%;
}


.main__cat{
    background-color:rgb(120, 6, 226);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 2%;
}


.main__cat--img{
    width: 15%;
    padding: 2%;
}


.main__cat--párrafo{
    font-size: 1rem;
    line-height: 1.5;
    padding: 3%;
}


main section section section p{
   
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5;
}


/*FOOTER*/

footer{
    background-color: blueviolet;
    display: grid;
    grid-template-areas:"Redes Derechos Locales";
    grid-template-columns: repeat(3, 1fr);
}


.footer__section--redes{
    grid-area: Redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
}


footer section h3{
    padding: 5%;
    padding-left: 5%;
    color: white;
    font-size: 1rem;
}


footer section section a{
    text-decoration: none;
}


footer section section a img{
    width: 12%;
    padding: 2%;
    gap: 1%;
}


.footer__section--derechos{
    grid-area: Derechos;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer section p{
    font-size: 1rem;
    color: white;
}


.footer__section--locales{
    grid-area: Locales;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


footer section h4{
    color: white;
    font-size: 1rem;
    padding: 1%;
    padding-right: 30%;
}


footer section section ul{
    padding: 1%;
    padding-right: 5%;
}


footer section section ul li{
    list-style-type: none;
    font-size: 1rem;
    color: white;
    line-height: 1.5;
}


@media screen and (max-width: 900px) {

    /*HEADER*/

    header{
        display: grid;
        grid-template-areas:"Título"
                            "Navegación";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }


    .icono__header--style{
        width: 100%;   
    }


    .nombre__header--style{
        color: white;
        font-size: 5rem;
    }


    header div{
        grid-area: Título;
        background-image: linear-gradient(blueviolet, violet);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    header nav{
        grid-area: Navegación;
        background-image: linear-gradient(violet, blueviolet);
        height: 100%;
    }


    header nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    header nav ul li{
        list-style-type: none;
        background-color: rgb(87, 0, 168);
        border-radius: 15%;
        padding: 2%;
    }

    /*MAIN INICIO*/

    .main__grid{
        background-image: linear-gradient(blueviolet, violet);
        display: grid;
        grid-template-areas:"Prod"
                            "Servis";
        grid-template-rows: repeat(2, 1fr);
    }


    .section__prod{
        grid-area: Prod;
        display: grid;
        grid-template-areas: "Pro"
                             "Cat";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    
    .main__section--grid{
        display: grid;
        grid-template-areas:"Envios"
                            "Tienda";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2%;
    }


    .main__img--cat{
        width: 48%;
        border-radius: 5%;
    }


    .main__cat{
        width: 96%;
        height: 30%;
    }


    .main__cat--img{
        width: 22%;
        padding: 3%;
    }

    /*MAIN PRODUCTOS*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*MAIN CATERING*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*FOOTER*/

    footer{
        background-image: linear-gradient(violet, blueviolet);
        display: grid;
        grid-template-areas:"Redes" 
                            "Locales"
                            "Derechos"; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .footer__section--redes{
        grid-area: Redes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .logo__redes{
        text-align: center;
    }


    .footer__section--locales{
        grid-area: Locales;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    footer section h3{
        padding: 5%;
        padding-left: 5%;
        color: white;
        font-size: 1rem;
    }


    footer section h4{
        color: white;
        font-size: 2rem;
        padding: 1%;
        padding-right: 3%;
    }

    
}

@media screen and (max-width: 717px) {

    /*HEADER*/

    header{
        display: grid;
        grid-template-areas:"Título"
                            "Navegación";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }


    .icono__header--style{
        width: 100%;   
    }


    .nombre__header--style{
        color: white;
        font-size: 5rem;
    }


    header div{
        grid-area: Título;
        background-image: linear-gradient(blueviolet, violet);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    header nav{
        grid-area: Navegación;
        background-image: linear-gradient(violet, blueviolet);
        height: 100%;
    }


    header nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    header nav ul li{
        list-style-type: none;
        background-color: rgb(87, 0, 168);
        border-radius: 15%;
        padding: 2%;
    }

    /*MAIN INICIO*/

    .main__grid{
        background-image: linear-gradient(blueviolet, violet);
        display: grid;
        grid-template-areas:"Prod"
                            "Servis";
        grid-template-rows: repeat(2, 1fr);
    }


    .section__prod{
        grid-area: Prod;
        display: grid;
        grid-template-areas: "Pro"
                             "Cat";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    
    .main__section--grid{
        display: grid;
        grid-template-areas:"Envios"
                            "Tienda";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2%;
    }


    .main__img--cat{
        width: 55%;
        border-radius: 5%;
    }


    .main__cat{
        width: 96%;
        height: 22%;
    }


    .main__cat--img{
        width: 22%;
        padding: 3%;
    }

    /*MAIN PRODUCTOS*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*MAIN ACERCA DE NOSOTROS*/

    .main__adn{
        background-image: linear-gradient(blueviolet, violet)
    }

    /*MAIN CATERING*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*FOOTER*/

    footer{
        background-image: linear-gradient(violet, blueviolet);
        display: grid;
        grid-template-areas:"Redes" 
                            "Locales"
                            "Derechos"; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .footer__section--redes{
        grid-area: Redes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .logo__redes{
        text-align: center;
    }


    .footer__section--locales{
        grid-area: Locales;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    footer section h3{
        padding: 5%;
        padding-left: 5%;
        color: white;
        font-size: 1rem;
    }


    footer section h4{
        color: white;
        font-size: 2rem;
        padding: 1%;
        padding-right: 3%;
    }

    
}


@media screen and (max-width: 688px) {

    /*HEADER*/

    header{
        display: grid;
        grid-template-areas:"Título"
                            "Navegación";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }


    .icono__header--style{
        width: 100%;   
    }


    .nombre__header--style{
        color: white;
        font-size: 5rem;
    }


    header div{
        grid-area: Título;
        background-image: linear-gradient(blueviolet, violet);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    header nav{
        grid-area: Navegación;
        background-image: linear-gradient(violet, blueviolet);
        height: 100%;
    }


    header nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    header nav ul li{
        list-style-type: none;
        background-color: rgb(87, 0, 168);
        border-radius: 15%;
        padding: 2%;
    }

    
    /*MAIN INICIO*/

    .main__grid{
        background-image: linear-gradient(blueviolet, violet);
        display: grid;
        grid-template-areas:"Prod"
                            "Servis";
        grid-template-rows: repeat(2, 1fr);
    }


    .section__prod{
        grid-area: Prod;
        display: grid;
        grid-template-areas: "Pro"
                             "Cat";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    
    .main__section--grid{
        display: grid;
        grid-template-areas:"Envios"
                            "Tienda";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2%;
    }


    .main__img--cat{
        width: 60%;
        border-radius: 5%;
    }


    .main__cat{
        width: 96%;
        height: 20%;
    }


    .main__cat--img{
        width: 22%;
        padding: 3%;
    }

    /*MAIN PRODUCTOS*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*MAIN ACERCA DE NOSOTROS*/

    .main__adn{
        background-image: linear-gradient(blueviolet, violet)
    }

    /*MAIN CATERING*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*FOOTER*/

    footer{
        background-image: linear-gradient(violet, blueviolet);
        display: grid;
        grid-template-areas:"Redes" 
                            "Locales"
                            "Derechos"; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .footer__section--redes{
        grid-area: Redes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .logo__redes{
        text-align: center;
    }


    .footer__section--locales{
        grid-area: Locales;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    footer section h3{
        padding: 5%;
        padding-left: 5%;
        color: white;
        font-size: 1rem;
    }


    footer section h4{
        color: white;
        font-size: 2rem;
        padding: 1%;
        padding-right: 3%;
    }
}


@media screen and (max-width:400px) {

    /*HEADER*/

    header{
        display: grid;
        grid-template-areas:"Título"
                            "Navegación";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }


    .icono__header--style{
        width: 100%;   
    }


    .nombre__header--style{
        color: white;
        font-size: 5rem;
    }


    header div{
        grid-area: Título;
        background-image: linear-gradient(blueviolet, violet);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    header nav{
        grid-area: Navegación;
        background-image: linear-gradient(violet, blueviolet);
        height: 100%;
    }


    header nav ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    header nav ul li{
        list-style-type: none;
        background-color: rgb(87, 0, 168);
        border-radius: 15%;
        padding: 2%;
    }

    /*MAIN INICIO*/


    .main__grid{
        background-image: linear-gradient(blueviolet, violet);
        display: grid;
        grid-template-areas:"Prod"
                            "Servis";
        grid-template-rows: repeat(2, 1fr);
    }


    .section__prod{
        grid-area: Prod;
        display: grid;
        grid-template-areas: "Pro"
                             "Cat";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    
    .main__section--grid{
        display: grid;
        grid-template-areas:"Envios"
                            "Tienda";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2%;
    }


    .main__img--cat{
        width: 60%;
        border-radius: 5%;
    }


    .main__cat{
        width: 96%;
        height: 20%;
    }


    .main__cat--img{
        width: 22%;
        padding: 3%;
    }

    /*MAIN CONTACTOS*/

    .cont__titulo{
        font-size: 2rem;
        padding: 3%;
    }


    .main__c{
        background-image: linear-gradient(blueviolet, violet);
    }

    
    .form__btn{
        display: flex;
        
        align-items: center;
    }


    
    .fn__style{
        font-size: 1rem; 
        position: relative;
        right: 20%;
    }
    
    
    .fn__style--input{
        position: relative;
        right: 25%;
    }

    /*MAIN ADEMAS DE NOSOTROS*/

    .main__adn{
        background-image: linear-gradient(blueviolet, violet)
    }


    .adn__parrafo--style{
        text-align: center;
        background-color: blueviolet;
        border-radius: 5%;
        padding: 4%;
        margin: 6%;
        line-height: 1.5;
        border:double rgb(0, 0, 0) 10px;
    }

    /*MAIN PRODUCTOS*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }

    /*MAIN CONTACTOS*/

    .main__c{
        background-image: linear-gradient(blueviolet, violet);
    }

    .fn__style{
        font-size: 1.5rem; 
        position: relative;
        left: 3%;
    }

    /*MAIN CATERING*/

    .main__pro{
        background-image: linear-gradient(blueviolet, violet);
    }
    
    /*FOOTER*/


    footer{
        background-image: linear-gradient(violet, blueviolet);
        display: grid;
        grid-template-areas:"Redes" 
                            "Locales"
                            "Derechos"; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .footer__section--redes{
        grid-area: Redes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .logo__redes{
        text-align: center;
    }


    .footer__section--locales{
        grid-area: Locales;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    footer section h3{
        padding: 5%;
        padding-left: 5%;
        color: white;
        font-size: 1rem;
    }


    footer section h4{
        color: white;
        font-size: 2rem;
        padding: 1%;
        padding-right: 3%;
    }
}

/*MAIN  ACERCA DE NOSOTROS*/


.main__adn{
    background-image: linear-gradient(violet, blueviolet);
}


.adn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.adn__titulo{
    padding: 4%;
}


.adn__titulo--style{
    text-align: center;
    color: white;
    font-size:4rem;
}


.adn__parrafo--style{
    background-color: blueviolet;
    border-radius: 5%;
    padding: 4%;
    margin: 6%;
    line-height: 1.5;
    border:double rgb(0, 0, 0) 10px;
}


/*MAIN CONTACTOS*/

.main__c{
    background-image: linear-gradient(violet, blueviolet);
}


.main__cont--titulo{
    text-align: center;
}


.cont__titulo{
    font-size: 4rem;
}


.form{
    padding: 2%;
}


.form__style{
    background-color: blueviolet;
    border: double black 10px;
   
    border-radius: 5%;
}


.form__sex{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 3%;
}


.sexualidad{
    display: flex;
    justify-content: center;
    padding: 2%;
}


.sex__style{
    font-size: 1.5rem;
}


.form__dp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.form__dp--style{
   padding: 1%;
}


.na__style{
    font-size: 1.5rem; 
    position: relative;
    right: 10%;
}


.na__style--input{
    position: relative;
    right: 1%;
}


.fn__style{
    font-size: 1.5rem; 
    position: relative;
}


.fn__style--input{
    position: relative;
    left: 18%;
}


.email__style{
    font-size: 1.5rem; 
    position: relative;
    right: 5%;
}


.email__style--input{
    position: relative;
    left: 6%;
}


.contraseña__style{
    font-size: 1.5rem; 
    position: relative;
    right: 11%;
}


.contraseña__style--input{
    position: relative;
    right: 2%;
}


.form__tc{
    text-align: center;
    padding: 4%;
}


.tc__style{
    font-size: 1.5rem;
}


.textarea{
    font-size: 1.5rem;
}


.textarea__style{
    width: 100%;
    border: none;
}


.form__btn{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 2%;
}


.btn__rest{
    font-size: 1rem;
    padding: 5%;
}


.btn__enviar{
    font-size: 1rem;
    padding: 9%;
}

/*MAIN PRODUCTOS*/


.main__pro{
    background-image: linear-gradient(violet, blueviolet);
}


.card__pro{
    padding: 2%;

}


.main__pro--style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2%;
}


#pro__card{
    background-color: blueviolet;
    border-radius: 5%; 
    border: double black 10px;
}


#img__tiramisu{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


.card-title{
    font-size: 2rem;
    padding: 1%;
}


.card__a{
    text-decoration: none;
    color: white;
}


.card{
    text-align: center;
}


#img__lemonpie{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__chescake{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__chocotorta{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__tortanegra{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__chaja{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__tho{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__brauni{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__mc{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}


#img__coulant{
    width: 100%;
    height: 190px;
    padding: 2%;
    border-radius: 5%;
}

/*MAIN CATERING*/

.main__catering{
    background-image: linear-gradient(violet, blueviolet);
    padding: 2%;
}


.main__catering--style{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    gap: 5%;
}


.card__img{
    width: 100%;
    border-radius: 5%;
}


.card__img--style{
    width: 100%;
    border-radius: 5%;
}


.card__list{
    list-style-type: none;
    padding: 5%;
}


.card__titulo{
    text-align: center;
    padding: 5%;
}


.card__cat{
    background-color: blueviolet;
    border-radius: 5%;
    border: double black 10px;
    padding: 2%;
}




    